PORT=3000
AFFORDMED_BASE_URL=http://20.207.122.201/evaluation-service/register
COMPANY_NAME=YOUR_COMPANY_NAME
OWNER_NAME=YOUR_NAME
ROLL_NUMBER=YOUR_ROLL_NUMBER
OWNER_EMAIL=YOUR_EMAIL
MOBILE_NUMBER=YOUR_MOBILE_NUMBER
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
ACCESS_CODE=YOUR_ACCESS_CODE
CLIENT_ID=
CLIENT_SECRET=
